<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base.html}">
<head>
    <title>Comantag - Media info</title>
</head>

<body>
    <th:block layout:fragment="sidebar" th:insert="~{layouts/fragments/common/sidebar :: sidebar}"></th:block>

    <th:block layout:fragment="content">
        <h1 class="h3 mb-2 text-gray-800">Info</h1>

        <div class="row">
            <div class="col-lg-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">
                            <div class="text-left">
                                <span><a href="#">Media</a></span>
                            </div>
                        </h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <th:block th:if="${data.scrapped == 1}">
                                    <open-media-viewer
                                        th:attr="thumbnail-url='/images?idCollection=' + ${data.idCollection} + '&idMedia=' + ${data.idMedia},
                                                 id-media=${data.idMedia}">
                                    </open-media-viewer>
                                </th:block>
                                <th:block th:unless="${data.scrapped == 1}">
                                    <img src="/images/no_preview.jpg" class="card-img-top">
                                </th:block>
                            </div>
                            <div class="col-lg-8">
                                <table class="table">
                                    <tr>
                                        <td>Id</td>
                                        <td th:text="${data.idMedia}"></td>
                                    </tr>
                                    <tr>
                                        <td>Location</td>
                                        <td th:text="${data.location}"></td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td th:text="${data.name}"></td>
                                    </tr>
                                    <tr>
                                        <td>Size</td>
                                        <td th:text="${data.size}" class="filesize"></td>
                                    </tr>
                                    <tr>
                                        <td>Pages</td>
                                        <td th:text="${data.pages}"></td>
                                    </tr>
                                    <tr>
                                        <td>Created at</td>
                                        <td th:text="${data.createdAt != null} ? ${#dates.format(data.createdAt * 1000, 'yyyy-MM-dd HH:mm:ss')} : ' '"></td>
                                    </tr>
                                    <tr>
                                        <td>View count</td>
                                        <td th:text="${data.viewCount}"></td>
                                    </tr>
                                    <tr>
                                        <td>Last viewed</td>
                                        <td th:text="${data.lastViewed != null} ? ${#dates.format(data.lastViewed * 1000, 'yyyy-MM-dd HH:mm:ss')} : 'Never'"></td>
                                    </tr>
                                    <tr>
                                        <td>Collection name</td>
                                        <td th:text="${data.collectionName}"></td>
                                    </tr>
                                </table>
                                <p>
                                    <a th:href="@{'/media/' + ${data.idMedia}+ '/unscrap'}" class="btn btn-danger">
                                        Delete scrapping
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend ="${tab == 'artist'}? 'active'" id="artists-tab" data-toggle="tab" href="#artist" role="tab" aria-controls="artist" th:aria-selected="${tab == 'artist'}? true : false">Artists (<th:block th:text="${#lists.size(data.artistsMetadata)}"></th:block>)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend ="${tab == 'character'}? 'active'" id="characters-tab" data-toggle="tab" href="#character" role="tab" aria-controls="characters" th:aria-selected="${tab == 'character'}? true : false">Characters (<th:block th:text="${#lists.size(data.charactersMetadata)}"></th:block>)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend ="${tab == 'group'}? 'active'" id="groups-tab" data-toggle="tab" href="#group" role="tab" aria-controls="groups" th:aria-selected="${tab == 'group'}? true : false">Groups (<th:block th:text="${#lists.size(data.groupsMetadata)}"></th:block>)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend ="${tab == 'language'}? 'active'" id="languages-tab" data-toggle="tab" href="#language" role="tab" aria-controls="languages" th:aria-selected="${tab == 'language'}? true : false">Languages (<th:block th:text="${#lists.size(data.languagesMetadata)}"></th:block>)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend ="${tab == 'serie'}? 'active'" id="series-tab" data-toggle="tab" href="#serie" role="tab" aria-controls="series" th:aria-selected="${tab == 'serie'}? true : false">Series (<th:block th:text="${#lists.size(data.seriesMetadata)}"></th:block>)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend ="${tab == 'tag'}? 'active'" id="tags-tab" data-toggle="tab" href="#tag" role="tab" aria-controls="tags" th:aria-selected="${tab == 'tag'}? true : false">Tags (<th:block th:text="${#lists.size(data.tagsMetadata)}"></th:block>)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend ="${tab == 'type'}? 'active'" id="types-tab" data-toggle="tab" href="#type" role="tab" aria-controls="types" th:aria-selected="${tab == 'type'}? true : false">Types (<th:block th:text="${#lists.size(data.typesMetadata)}"></th:block>)</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" th:classappend ="${tab == 'artist'}? 'show active'" id="artist" role="tabpanel" aria-labelledby="artists-tab">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="row mb-4">
                                    <div class="col-lg-12">
                                        <span>
                                            <th:block th:if="${#lists.size(data.artistsMetadata)} gt 0">
                                                Current artists:

                                                <span th:each="row : ${data.artistsMetadata}"
                                                      th:text="${row.name}"
                                                      class="badge badge-info">
                                                </span>
                                            </th:block>
                                        </span>
                                        <th:block th:if="${#lists.size(data.artistsMetadata)} gt 0">
                                            <br />
                                            <br />
                                            <copy-to-clipboard-button th:attr="clipboard-text=${metadataClipboard.artists}">
                                            </copy-to-clipboard-button>
                                        </th:block>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">
                                                    <div class="text-left">
                                                        <span><a href="#">Edit by selection</a></span>
                                                    </div>
                                                </h6>
                                            </div>
                                            <div class="card-body">
                                                <form th:action="@{'/media/' + ${data.idMedia} + '/artist/select' }"  method="POST" role="form" class="metadata-form">
                                                    <div class="form-group">
                                                        <multi-select inline-template>
                                                            <select class="form-control" name="ids" aria-describedby="artistsSelectHelp" multiple>
                                                                <option th:each="row : ${metadata.artists}"
                                                                        th:value="${row.id}"
                                                                        th:selected="${#lists.contains(metadataSelected.artists, row.id)}"
                                                                        th:text="${row.name}">
                                                                </option>
                                                            </select>
                                                        </multi-select>
                                                        <small id="artistsSelectHelp" class="form-text text-muted">Select the artists.</small>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">
                                                    <div class="text-left">
                                                        <span><a href="#">Edit by typing</a></span>
                                                    </div>
                                                </h6>
                                            </div>
                                            <div class="card-body">
                                                <form th:action="@{'/media/' + ${data.idMedia} + '/artist/type' }" method="POST" role="form" class="metadata-form">
                                                    <div class="form-group">
                                                        <tags-input name="metadata"
                                                                    th:attr="data=${metadataClipboard.artists}"
                                                                    help="artistsTypeHelp">
                                                        </tags-input>
                                                        <small id="artistsTypeHelp" class="form-text text-muted">Write artists, separated by "Enter". Missing artists will be created.</small>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" th:classappend ="${tab == 'character'}? 'show active'" id="character" role="tabpanel" aria-labelledby="characters-tab">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="row mb-4">
                                    <div class="col-lg-12">
                                        <span>
                                            <th:block th:if="${#lists.size(data.charactersMetadata)} gt 0">
                                                Current characters:
                                                <span th:each="row : ${data.charactersMetadata}"
                                                      th:text="${row.name}"
                                                      class="badge badge-info">
                                                </span>
                                            </th:block>
                                        </span>
                                        <th:block th:if="${#lists.size(data.charactersMetadata)} gt 0">
                                            <br />
                                            <br />
                                            <copy-to-clipboard-button th:attr="clipboard-text=${metadataClipboard.characters}">
                                            </copy-to-clipboard-button>
                                        </th:block>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">
                                                    <div class="text-left">
                                                        <span><a href="#">Edit by selection</a></span>
                                                    </div>
                                                </h6>
                                            </div>
                                            <div class="card-body">
                                                <form th:action="@{'/media/' + ${data.idMedia} + '/character/select' }"  method="POST" role="form" class="metadata-form">
                                                    <div class="form-group">
                                                        <multi-select inline-template>
                                                            <select class="form-control" name="ids" aria-describedby="charactersSelectHelp" multiple>
                                                                <option th:each="row : ${metadata.characters}"
                                                                        th:value="${row.id}"
                                                                        th:selected="${#lists.contains(metadataSelected.characters, row.id)}"
                                                                        th:text="${row.name}">
                                                                </option>
                                                            </select>
                                                        </multi-select>
                                                        <small id="charactersSelectHelp" class="form-text text-muted">Select the characters.</small>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">
                                                    <div class="text-left">
                                                        <span><a href="#">Edit by typing</a></span>
                                                    </div>
                                                </h6>
                                            </div>
                                            <div class="card-body">
                                                <form th:action="@{'/media/' + ${data.idMedia} + '/character/type' }" method="POST" role="form" class="metadata-form">
                                                    <div class="form-group">
                                                        <tags-input name="metadata"
                                                                    th:attr="data=${metadataClipboard.characters}"
                                                                    help="charactersTypeHelp">
                                                        </tags-input>
                                                        <small id="charactersTypeHelp" class="form-text text-muted">Write characters, separated by "Enter". Missing characters will be created.</small>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" th:classappend ="${tab == 'group'}? 'show active'" id="group" role="tabpanel" aria-labelledby="groups-tab">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="row mb-4">
                                    <div class="col-lg-12">
                                        <span>
                                            <th:block th:if="${#lists.size(data.groupsMetadata)} gt 0">
                                                Current groups:

                                                <span th:each="row : ${data.groupsMetadata}"
                                                      th:text="${row.name}"
                                                      class="badge badge-info">
                                                </span>
                                            </th:block>
                                        </span>
                                        <th:block th:if="${#lists.size(data.groupsMetadata)} gt 0">
                                            <br />
                                            <br />
                                            <copy-to-clipboard-button th:attr="clipboard-text=${metadataClipboard.groups}">
                                            </copy-to-clipboard-button>
                                        </th:block>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">
                                                    <div class="text-left">
                                                        <span><a href="#">Edit by selection</a></span>
                                                    </div>
                                                </h6>
                                            </div>
                                            <div class="card-body">
                                                <form th:action="@{'/media/' + ${data.idMedia} + '/group/select' }"  method="POST" role="form" class="metadata-form">
                                                    <div class="form-group">
                                                        <multi-select inline-template>
                                                            <select class="form-control" name="ids" aria-describedby="groupsSelectHelp" multiple>
                                                                <option th:each="row : ${metadata.groups}"
                                                                        th:value="${row.id}"
                                                                        th:selected="${#lists.contains(metadataSelected.groups, row.id)}"
                                                                        th:text="${row.name}">
                                                                </option>
                                                            </select>
                                                        </multi-select>
                                                        <small id="groupsSelectHelp" class="form-text text-muted">Select the groups.</small>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">
                                                    <div class="text-left">
                                                        <span><a href="#">Edit by typing</a></span>
                                                    </div>
                                                </h6>
                                            </div>
                                            <div class="card-body">
                                                <form th:action="@{'/media/' + ${data.idMedia} + '/group/type' }" method="POST" role="form" class="metadata-form">
                                                    <div class="form-group">
                                                        <tags-input name="metadata"
                                                                    th:attr="data=${metadataClipboard.groups}"
                                                                    help="groupsTypeHelp">
                                                        </tags-input>
                                                        <small id="groupsTypeHelp" class="form-text text-muted">Write groups, separated by "Enter". Missing groups will be created.</small>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" th:classappend ="${tab == 'language'}? 'show active'" id="language" role="tabpanel" aria-labelledby="languages-tab">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="row mb-4">
                                    <div class="col-lg-12">
                                        <span>
                                            <th:block th:if="${#lists.size(data.languagesMetadata)} gt 0">
                                                Current languages:

                                                <span th:each="row : ${data.languagesMetadata}"
                                                      th:text="${row.name}"
                                                      class="badge badge-info">
                                                </span>
                                            </th:block>
                                        </span>
                                        <th:block th:if="${#lists.size(data.languagesMetadata)} gt 0">
                                            <br />
                                            <br />
                                            <copy-to-clipboard-button th:attr="clipboard-text=${metadataClipboard.languages}">
                                            </copy-to-clipboard-button>
                                        </th:block>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">
                                                    <div class="text-left">
                                                        <span><a href="#">Edit by selection</a></span>
                                                    </div>
                                                </h6>
                                            </div>
                                            <div class="card-body">
                                                <form th:action="@{'/media/' + ${data.idMedia} + '/language/select' }"  method="POST" role="form" class="metadata-form">
                                                    <div class="form-group">
                                                        <multi-select inline-template>
                                                            <select class="form-control" name="ids" aria-describedby="languagesSelectHelp" multiple>
                                                                <option th:each="row : ${metadata.languages}"
                                                                        th:value="${row.id}"
                                                                        th:selected="${#lists.contains(metadataSelected.languages, row.id)}"
                                                                        th:text="${row.name}">
                                                                </option>
                                                            </select>
                                                        </multi-select>
                                                        <small id="languagesSelectHelp" class="form-text text-muted">Select the languages.</small>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">
                                                    <div class="text-left">
                                                        <span><a href="#">Edit by typing</a></span>
                                                    </div>
                                                </h6>
                                            </div>
                                            <div class="card-body">
                                                <form th:action="@{'/media/' + ${data.idMedia} + '/language/type' }" method="POST" role="form" class="metadata-form">
                                                    <div class="form-language">
                                                        <tags-input name="metadata"
                                                                    th:attr="data=${metadataClipboard.languages}"
                                                                    help="languagesTypeHelp">
                                                        </tags-input>
                                                        <small id="languagesTypeHelp" class="form-text text-muted">Write languages, separated by "Enter". Missing languages will be created.</small>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" th:classappend ="${tab == 'serie'}? 'show active'" id="serie" role="tabpanel" aria-labelledby="series-tab">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="row mb-4">
                                    <div class="col-lg-12">
                                        <span>
                                            <th:block th:if="${#lists.size(data.seriesMetadata)} gt 0">
                                                Current series:

                                                <span th:each="row : ${data.seriesMetadata}"
                                                      th:text="${row.name}"
                                                      class="badge badge-info">
                                                </span>
                                            </th:block>
                                        </span>
                                        <th:block th:if="${#lists.size(data.seriesMetadata)} gt 0">
                                            <br />
                                            <br />
                                            <copy-to-clipboard-button th:attr="clipboard-text=${metadataClipboard.series}">
                                            </copy-to-clipboard-button>
                                        </th:block>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">
                                                    <div class="text-left">
                                                        <span><a href="#">Edit by selection</a></span>
                                                    </div>
                                                </h6>
                                            </div>
                                            <div class="card-body">
                                                <form th:action="@{'/media/' + ${data.idMedia} + '/serie/select' }"  method="POST" role="form" class="metadata-form">
                                                    <div class="form-group">
                                                        <multi-select inline-template>
                                                            <select class="form-control" name="ids" aria-describedby="seriesSelectHelp" multiple>
                                                                <option th:each="row : ${metadata.series}"
                                                                        th:value="${row.id}"
                                                                        th:selected="${#lists.contains(metadataSelected.series, row.id)}"
                                                                        th:text="${row.name}">
                                                                </option>
                                                            </select>
                                                        </multi-select>
                                                        <small id="seriesSelectHelp" class="form-text text-muted">Select the series.</small>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">
                                                    <div class="text-left">
                                                        <span><a href="#">Edit by typing</a></span>
                                                    </div>
                                                </h6>
                                            </div>
                                            <div class="card-body">
                                                <form th:action="@{'/media/' + ${data.idMedia} + '/serie/type' }" method="POST" role="form" class="metadata-form">
                                                    <div class="form-group">
                                                        <tags-input name="metadata"
                                                                    th:attr="data=${metadataClipboard.series}"
                                                                    help="seriesTypeHelp">
                                                        </tags-input>
                                                        <small id="seriesTypeHelp" class="form-text text-muted">Write series, separated by "Enter". Missing series will be created.</small>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" th:classappend ="${tab == 'tag'}? 'show active'" id="tag" role="tabpanel" aria-labelledby="tags-tab">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="row mb-4">
                                    <div class="col-lg-12">
                                        <span>
                                            <th:block th:if="${#lists.size(data.tagsMetadata)} gt 0">
                                                Current tags:

                                                <span th:each="row : ${data.tagsMetadata}"
                                                      th:text="${row.name}"
                                                      class="badge badge-info">
                                                </span>
                                            </th:block>
                                        </span>
                                        <th:block th:if="${#lists.size(data.tagsMetadata)} gt 0">
                                            <br />
                                            <br />
                                            <copy-to-clipboard-button th:attr="clipboard-text=${metadataClipboard.tags}">
                                            </copy-to-clipboard-button>
                                        </th:block>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">
                                                    <div class="text-left">
                                                        <span><a href="#">Edit by selection</a></span>
                                                    </div>
                                                </h6>
                                            </div>
                                            <div class="card-body">
                                                <form th:action="@{'/media/' + ${data.idMedia} + '/tag/select' }"  method="POST" role="form" class="metadata-form">
                                                    <div class="form-group">
                                                        <multi-select inline-template>
                                                            <select class="form-control" name="ids" aria-describedby="tagsSelectHelp" multiple>
                                                                <option th:each="row : ${metadata.tags}"
                                                                        th:value="${row.id}"
                                                                        th:selected="${#lists.contains(metadataSelected.tags, row.id)}"
                                                                        th:text="${row.name}">
                                                                </option>
                                                            </select>
                                                        </multi-select>
                                                        <small id="tagsSelectHelp" class="form-text text-muted">Select the tags.</small>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">
                                                    <div class="text-left">
                                                        <span><a href="#">Edit by typing</a></span>
                                                    </div>
                                                </h6>
                                            </div>
                                            <div class="card-body">
                                                <form th:action="@{'/media/' + ${data.idMedia} + '/tag/type' }" method="POST" role="form" class="metadata-form">
                                                    <div class="form-group">
                                                        <tags-input name="metadata"
                                                                    th:attr="data=${metadataClipboard.tags}"
                                                                    help="tagsTypeHelp">
                                                        </tags-input>
                                                        <small id="tagsTypeHelp" class="form-text text-muted">Write tags, separated by "Enter". Missing tags will be created.</small>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" th:classappend ="${tab == 'type'}? 'show active'" id="type" role="tabpanel" aria-labelledby="types-tab">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="row mb-4">
                                    <div class="col-lg-12">
                                        <span>
                                            <th:block th:if="${#lists.size(data.typesMetadata)} gt 0">
                                                Current types:

                                                <span th:each="row : ${data.typesMetadata}"
                                                      th:text="${row.name}"
                                                      class="badge badge-info">
                                                </span>
                                            </th:block>
                                        </span>
                                        <th:block th:if="${#lists.size(data.typesMetadata)} gt 0">
                                            <br />
                                            <br />
                                            <copy-to-clipboard-button th:attr="clipboard-text=${metadataClipboard.types}">
                                            </copy-to-clipboard-button>
                                        </th:block>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">
                                                    <div class="text-left">
                                                        <span><a href="#">Edit by selection</a></span>
                                                    </div>
                                                </h6>
                                            </div>
                                            <div class="card-body">
                                                <form th:action="@{'/media/' + ${data.idMedia} + '/type/select' }"  method="POST" role="form" class="metadata-form">
                                                    <div class="form-group">
                                                        <multi-select inline-template>
                                                            <select class="form-control" name="ids" aria-describedby="typesSelectHelp" multiple>
                                                                <option th:each="row : ${metadata.types}"
                                                                        th:value="${row.id}"
                                                                        th:selected="${#lists.contains(metadataSelected.types, row.id)}"
                                                                        th:text="${row.name}">
                                                                </option>
                                                            </select>
                                                        </multi-select>
                                                        <small id="typesSelectHelp" class="form-text text-muted">Select the types.</small>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">
                                                    <div class="text-left">
                                                        <span><a href="#">Edit by typing</a></span>
                                                    </div>
                                                </h6>
                                            </div>
                                            <div class="card-body">
                                                <form th:action="@{'/media/' + ${data.idMedia} + '/type/type' }" method="POST" role="form" class="metadata-form">
                                                    <div class="form-group">
                                                        <tags-input name="metadata"
                                                                    th:attr="data=${metadataClipboard.types}"
                                                                    help="typesTypeHelp">
                                                        </tags-input>
                                                        <small id="typesTypeHelp" class="form-text text-muted">Write types, separated by "Enter". Missing types will be created.</small>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <th:block layout:fragment="scripts_footer">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/filesize/9.0.11/filesize.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $(".filesize").each(function(index, element) {
                    $(this).text(filesize($(this).text()));
                });
            });
        </script>

        <script src="/vendor/jquery-quicksearch/jquery.quicksearch.js" type="text/javascript"></script>
        <script src="/vendor/multiselect/js/jquery.multi-select.js" type="text/javascript"></script>
        <th:block th:insert="~{layouts/fragments/common/media_viewer :: media_viewer}"></th:block>
        <th:block th:insert="~{layouts/fragments/common/tags_input :: tags_input}"></th:block>
        <th:block th:insert="~{layouts/fragments/common/multiselect :: multiselect}"></th:block>
        <th:block th:insert="~{layouts/fragments/common/copy_to_clipboard :: copy_to_clipboard}"></th:block>
        <th:block th:insert="~{layouts/fragments/common/domain_parse :: domain_parse}"></th:block>
    </th:block>
</body>
</html>