<th:block th:fragment="advanced_search_script">
    <script type="text/javascript">
        Vue.component("advanced-search-modal", {
            data : function () {
                return {
                    input: {
                        text: '',
                        type: 'name',
                        visibility: 'all',
                        rating : [0,1,2,3,4,5],
                        metadata : []
                    },
                    isSearching: false,
                    timeout: false
                };
            },
            computed: {
                searchUrl : function () {
                    let url = "/media/search?" +
                                "text=" + this.input.text +
                                "&type=" + this.input.type +
                                "&visibility=" + this.input.visibility +
                                "&rating=" + this.input.rating.join(",") +
                                "&metadata=" + this.input.metadata.join(",");

                    return url;
                }
            },
            mounted: function() {
                let self = this;

                self.$root.$on('open-advanced-search', function(text)  {
                    self.input.text = text;
                    $(self.$el).modal();
                });

                self.$root.$on('multiselect-after-select', function(value, type)  {
                    self.input[type].push(value);
                });

                self.$root.$on('multiselect-after-deselect', function(value, type)  {
                    let index = self.input[type].indexOf(value);

                    if (index != -1) {
                        self.input[type].splice(index, 1);
                    }
                });
            },
            methods: {
                search: function() {
                    this.isSearching = true;
                    this.$root.$emit('spinner-show', true);
                    this.$root.$emit('media-cards-show', false);

                    var self = this;

                    //TODO use events to get values
                    var metadata = [];
                    this.input.metadata =  metadata.concat(
                        $("#artists-search").find("select").val(),
                        $("#characters-search").find("select").val(),
                        $("#groups-search").find("select").val(),
                        $("#languages-search").find("select").val(),
                        $("#series-search").find("select").val(),
                        $("#tags-search").find("select").val(),
                        $("#types-search").find("select").val()
                    );

                    axios.get(this.searchUrl)
                        .then(function (response) {
                            self.$root.$emit('render-media-cards', response.data.rows);
                            self.$root.$emit('media-cards-show', true);
                            self.$root.$emit('spinner-show', false);
                            self.$root.$emit('render-media-count', response.data.mediaCount);

                            $(self.$el).modal("hide");

                            self.isSearching = false;
                        })
                        .catch(function (error) {
                            console.log(error);
                    });
                },
                change_checkboxes: function(type) {
                    if (type == "N") {
                        this.input.rating = [0];
                    } else if (type == "B") {
                        this.input.rating = [3,4,5];
                    } else if (type == "A") {
                        this.input.rating = [0,1,2,3,4,5];
                    }
                }
            }
        });
    </script>
</th:block>
