<th:block th:fragment="copy_to_clipboard">
    <script type="text/x-template" id="copy-to-clipboard-button-template">
        <button class="btn btn-info btn-sm" @click="copyToClipboard">Copy to clipboard</button>
    </script>

    <script type="text/javascript">
        Vue.component("copy-to-clipboard-button", {
            props: ["clipboardText"],
            template : "#copy-to-clipboard-button-template",
            methods: {
                copyToClipboard() {
                    var text = this.clipboardText;
                    navigator.clipboard.writeText(text)
                        .then(() => {
                            console.log('Text copied to clipboard');
                        })
                        .catch(err => {
                            console.log('Error in copying text: ', err);
                        });
                }
            }
        });
    </script>
</th:block>