<th:block th:fragment="domain_parse">
    <script type="text/x-template" id="domain-parse-button-template">
        <button class="btn btn-primary" @click="parse()">
            Get from {{ title }}
        </button>
    </script>

    <script type="text/javascript">
        Vue.component("domain-parse-button", {
            props: ["title", "idMedia", "url", "type"],
            template : "#domain-parse-button-template",
            methods: {
                parse: function() {
                    var self = this;

                    axios.post('/domain/parse', {
                        url     : self.url,
                        type    : self.type,
                        id_media : self.idMedia
                    })
                    .then(function (response) {
                        console.log("done");
                        if (response.data.status == "ok") {
                            window.location.reload();
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            }
        });
    </script>
</th:block>